    <link rel="stylesheet" href="/css/messengerStyle.css">
    <div class="emptyrow"></div>
    <div class="wrapper" ng-init='getUsers();loadConnection()'>
        <div class="container">
            <div class="left">
                <div class="top">
                    <input ng-model='searchKey' placeholder='search' type="text" />
<!--                    <a href="javascript:;" class="search"></a>-->
                </div>
                <ul class="people" ng-repeat='user in users | filter : searchKey'>



                    <li ng-if="user.username!=username" ng-click='getselectedUser(user.username)' class="person" data-chat="person6">
                        <img style="margin-top: -10px !important" ng-src="{{user.profileImage}}" alt="" />
                        <span class="name">{{user.username}}</span>
                        
                    </li>
                    <br>
                </ul>
            </div>
            <div class="right">
                <div class="top"><span>To: <span class="name">{{selectedUser}}</span></span>
                </div>
                <div ng-click='getchatUser(user.message)'class="chat">
                    <div class="conversation-start">
                    </div>
                     <div class="bubble you" >
                    
                    </div>
                    
<!--
                    <div class="bubble you">
                        Hello,
                    </div>
                    <div class="bubble you">
                        it's me.
                    </div>
                    <div class="bubble you">
                        I was wondering...
                    </div>
-->
                </div>
                <div class="chat" data-chat="person2" id='t' >
                    <div class="conversation-start">
                    </div>
                    
                       <div ng-repeat='message in oldMessages'>
                    <div class="bubble you"  ng-if='message.sender==selectedUser' >
                       {{message.message}}
                    </div>
                    <div class="bubble me" ng-if='message.reciever==selectedUser'>  {{message.message}}
                    </div>
                    </div>
                    
                    <div ng-repeat='message in messages'>
                    <div class="bubble you"  ng-if='message.reciever!=selectedUser' >
                       {{message.message}}
                    </div>
                    <div class="bubble me" ng-if='message.reciever==selectedUser' >  {{message.message}}
                    </div>
                    </div>
    
                 

                </div>
<!--
                <div class="chat" data-chat="person3">
                    <div class="conversation-start">
                        <span>Today, 3:38 AM</span>
                    </div>
                    <div class="bubble you">
                        Hey human!
                    </div>
                    <div class="bubble you">
                        Umm... Someone took a shit in the hallway.
                    </div>
                    <div class="bubble me">
                        ... what.
                    </div>
-->
<!--
                    <div class="bubble me">
                        Are you serious?
                    </div>
                    <div class="bubble you">
                        I mean...
                    </div>
                    <div class="bubble you">
                        It’s not that bad...
                    </div>
                    <div class="bubble you">
                        But we’re probably gonna need a new carpet.
                    </div>
                </div>
                <div class="chat" data-chat="person4">
                    <div class="conversation-start">
                        <span>Yesterday, 4:20 PM</span>
                    </div>
                    <div class="bubble me">
                        Hey human!
                    </div>
                    <div class="bubble me">
                        Umm... Someone took a shit in the hallway.
                    </div>
                    <div class="bubble you">
                        ... what.
                    </div>
                    <div class="bubble you">
-->
<!--
                        Are you serious?

                    </div>
                    <div class="bubble me">
                        I mean...
                    </div>
                    <div class="bubble me">
                        It’s not that bad...
                    </div>
                </div>
                <div class="chat" data-chat="person5">
                    <div class="conversation-start">
                        <span>Today, 6:28 AM</span>
                    </div>
                    <div class="bubble you">
                        Wasup
                    </div>
                    <div class="bubble you">
                        Wasup
                    </div>
                    <div class="bubble you">
                        Wasup for the third time like is
                        <br />you blind bitch
                    </div>

                </div>
                <div class="chat" data-chat="person6">
                    <div class="conversation-start">
                        <span>Monday, 1:27 PM</span>
                    </div>
                    <div class="bubble you">
                        So, how's your new phone?
                    </div>
                    <div class="bubble you">
                        You finally have a smartphone :D
                    </div>
                    <div class="bubble me">
                        Drake?
                    </div>
                    <div class="bubble me">
                        Why aren't you answering?
                    </div>
                    <div class="bubble you">
                        howdoyoudoaspace
                    </div>
-->
         
                <div class="write">
                    
                    <input type="text" placeholder="hit me a message" ng-model='message' >
                    
                    <a href="javascript:;" ng-click='sendMessage()' class="write-link send"  ></a>
                    
                </div>
            </div>
        </div>
    </div>
